.dhx-diagram-demo_uml {
  height: 100% !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}
.dhx-diagram-demo_uml h3 {
  text-align: center !important;
  height: 40px !important;
  line-height: 40px !important;
}
.dhx-diagram-demo_uml ul {
  padding: 8px 5px 5px 5px !important;
}
.dhx-diagram-demo_uml li {
  text-align: left !important;
  list-style-type: circle !important;
  margin: 5px 0 0 20px !important;
  white-space: nowrap !important;
}
